<div class="<%= "#{name}-field my-2" %>">
  <%= form.label t(".#{name}"), class: "block text-sm font-medium text-gray-700" %>
  <%= form.text_field name, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
</div>
