<% if @variant == 1 %>

  <div class="inline-flex rounded-2xl shadow flex-grow">
    <div class="inline-flex items-center flex-grow justify-center px-5 py-3 border border-transparent text-base font-medium rounded-2xl text-white bg-indigo-600 hover:bg-indigo-700">
      <%= content %>
    </div>
  </div>

<% elsif @variant == 2 %>

  <div class="inline-flex rounded-2xl shadow flex-grow">
    <div class="inline-flex items-center flex-grow justify-center px-5 py-3 border border-transparent text-base font-medium rounded-2xl text-black bg-gray-50 hover:bg-indigo-50">
      <%= content %>
    </div>
  </div>

<% end %>
